.wrapper {
    height: 100vh;
}

.body {
    position: relative;
    width: 1920px;
    height: 1080px;
    background-color: black;
}

.halo {
  height: 65px;
  width: 159px;
  left: 171px;
  top: 171px;

  position: absolute;
  left: 9.95%;
  right: 80.79%;
  top: 16.91%;
  bottom: 76.66%;

  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 74px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}

.effect {

  height: 71px;
  width: 179px;
  left: 828px;
  top: 470px;

  position: absolute;
  left: 42%;
  right: 41.39%;
  top: 42%;
  bottom: 46.49%;

  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 74px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #FFFFFF;
}


.box1 {
    position: absolute;
    width: 438px;
    height: 72px;
    left: 187px;
    top: 249px;
  
    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    display:flex;
    padding-right: 24px;
    padding-left: 35px;
    padding-top : 20px;
    padding-bottom : 18px;
  
    transition: 1s box-shadow;
    background-color: #C4C4C4;
    border-radius: 35px;
    transition: 1s;
    }

.box1:hover {
    color: #ffffDf;
    background-color: #5100fe;
        }

 

/* Rectangle 24 */

.box2 {
    position: absolute;
    width: 373px;
    height: 72px;
    left: 640px;
    top: 249px;
    border-radius: 35px;

    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    display:flex;
    padding-right: 24px;
    padding-left: 35px;
    padding-top : 20px;
    padding-bottom : 18px;

    background-color: #C4C4C4;
    transition: 1s;
}

.box2:hover {
    color: #ffffDf;
    background-color: #EA5260;
        }

.box3{
    position: absolute;
    width: 474px;
    height: 72px;
    left: 187px;
    top: 334px;

    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    display:flex;
    padding-right: 24px;
    padding-left: 35px;
    padding-top : 20px;
    padding-bottom : 18px;
    
    border-radius: 35px;
    background: #C4C4C4;
    transition: 1s;
}

.box3:hover{
    color: #353030;
    background-color: #00FFFF;
}


.box4{
    position: absolute;
    width: 248px;
    height: 72px;
    left: 674px;
    top: 334px;

    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    display:flex;
    padding-right: 24px;
    padding-left: 35px;
    padding-top : 20px;
    padding-bottom : 18px;

    border-radius: 35px;
    background: #C4C4C4;
    transition: 1s;
}

.box4:hover {
    color: #353030;
    background-color: #29ff7f;
}

.box5 {
    position: absolute;
    width: 78px;
    height: 72px;
    left: 935px;
    top: 334px;    

    border-radius: 35px;
    background: #C4C4C4;
    transition: 1s;
}

.box5:hover {
    background-color: #F3F580;
}

.imageContainer {
  position: absolute;
  width: 360px;
  height: 210.646.85px;
  left: 1468px;
  top: 645px;
}

#image1 {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
  -webkit-animation:rotation 2.5s infinite linear;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to   {-webkit-transform: rotate(359deg);}
}

.imageContainer2 {
  position: absolute;
  width: 360px;
  height: 400px;
  left: 1296px;
  top: 476px;
}


#image2 {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
  -webkit-animation:rotation 1.5s infinite linear;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to   {-webkit-transform: rotate(180deg);}
}

#image3 {
  position: absolute;
  width: 100%;

  padding-right: 15px;
  padding-left: 15px;
  padding-top : 12px;
  padding-bottom : 12px;

}

.line1{
    position: absolute;
    width: 660px;
    height: 7px;
    left: 346px;
    top: 203px;
    
    background: #FFFFFF;
}


.line2{
    position: absolute;
    width: 615px;
    height: 7px;
    left: 187px;
    top: 454px;
    
    background: #FFFFFF;
}

.weblink{
  position: absolute;
  left: 9%;
  right: 51.8%;
  top: 55.09%;
  bottom: 37.88%;
  
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 74px;
  display: flex;
  align-items: center;
  text-align: right;
  
  color: #FFFFFF;
}
/* 
==================
==================
Global
==================
==================
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* Remove Cursor */
    cursor: none;
  }
  
  html, body {
    position: relative;
    margin: 0;
    /* Font */
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    line-height: 1.7em;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    /* Prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  
  /* Layout */
  section {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 2em 0;
  }
  
  /* Headings */
  h1 {
    margin: 1.8em 0 1.2em 0;
    font-size: 2.8em;
    line-height: .94em;
    font-weight: 200;
  }
  
  /* Links */
  a {
    color: #FAB599;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1px solid #FAB599;
  }
  
  .goo-container a {
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
  }
  
  /* Buttons */
  button {
    padding: 1.4em 2.6em;
    letter-spacing: .12em;
    background: #EEEEEE;
    border: none;
    outline: none;
    transition: ease 2s;
  }
  
  button:hover {
    background: #D1D1D1;
  }
  
  
  /* 
  ==================
  ==================
  Gooey Effect
  ==================
  ==================
  */
  .goo-container {
    position: relative;
  }
  
  .goo-box {
    position: absolute;
    height: 100%;
    width: 140%;
    top: 0;
    left: 0;
    margin: auto;
    margin-left: -20%;
    background: linear-gradient(90deg, #FAEFCC, #FAB599);
    -webkit-filter: url("#goo");
    filter: url("#goo");
    transform: translateZ(0);
    z-index: -1;
  }
  
  /* Remove undesired SVG space */
  svg {
    width: 0;
    height: 0;
    /*display: none;*/ /* Don`t use "display none" or Firefox will omit the effect. */
  }
  
  
  /* 
  ==================
  ==================
  Cursor
  ==================
  ==================
  */
  .cursor {
    pointer-events: none;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    border-radius: 50%;
    background: #FAB599;
    will-change: left, top, transform, background; 
    transition: linear 20ms;
    transform: translateZ(0);
    z-index: 99999;
    /* Hide Element */
    left: -500%;
  }
  
  .true-cursor {
    background: rgba(250,181,153,.35);
  }
  
  /* Cursor animations: True Cursor */
  @keyframes truepointeron {
    0% {
      transform: scale(1);
      background: rgba(250,181,153,.35);
    }
    100% {
      transform: scale(.3);
      background: #EF8B8B;
    }
  }
  
  @keyframes truepointeroff {
    0% {
      transform: scale(.3);
      background: #EF8B8B;
    }
    100% {
      transform: scale(1);
      background: rgba(250,181,153,.35);
    }
  }
  
  /* Cursor animations: Gooey Cursor */
  @keyframes goopointeron {
    0% {
      transform: scale(1);
      background: #FAB599;
    }
    100% {
      transform: scale(0);
      background: #EF8B8B;
    }
  }
  
  @keyframes goopointeroff {
    0% {
      transform: scale(0);
      background: #EF8B8B;
    }
    100% {
      transform: scale(1);
      background: #FAB599;
    }
  }